@*<div class="modal fade" id="AlertPopUp" role="dialog">
    <div class="modal-dialog err-pop">
        <div class="modal-content">
            <div class="modal-header">
                <p>¡Alerta!</p>
            </div>
            <div class="modal-body" style="text-align:center;">
                <p id="AlertPopUpText">¡Alerta! Ha sucedido algo inesperado.</p>
                <br />
                <button class="btn btn-primary CloseAlertPopUp" id="CloseAlertPopUpBtn">Aceptar</button>
            </div>
        </div>
    </div>
</div>*@
