@{
    ViewData["Title"] = "Sobre el proyecto";
}
<h5>@ViewData["Title"]</h5>

<p>Autor: Marcos Chotsourian BackEnd/Funcional Dev. mail:chotsourian.marcos@gmail.com</p>
<p>mail:chotsourian.marcos@gmail.com</p>
<p>-------------------------------------</p>
<p>Notas: el front puede no funcionar perfecto en todos los navegadores.</p>
<p>En caso de errores no capturados, reintente.</p>
<p>Se recomienda utilizar Google Chrome en modo incógnito.</p>
